html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Tùy chỉnh Navbar */
.navbar {
    transition: all 0.3s;
}

.nav-link {
    font-weight: 500;
    transition: color 0.2s;
}

.nav-link:hover {
    color: #0d6efd !important; /* Màu xanh primary khi di chuột */
}

.dropdown-menu {
    border-radius: 0.5rem;
    margin-top: 10px !important; /* Tạo khoảng cách nhỏ */
}

.dropdown-item {
    padding: 8px 20px;
    transition: background-color 0.2s;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
    color: #0d6efd;
}

/* Badge đẹp hơn */
.badge {
    font-weight: 500;
    letter-spacing: 0.5px;
}

/* Tùy chỉnh nút điều hướng Carousel */
.custom-nav-btn {
    width: 5%; /* Thu nhỏ vùng bấm */
    opacity: 0.5;
    transition: opacity 0.3s;
}

.custom-nav-btn:hover {
    opacity: 1;
}

/* Đẩy nút ra ngoài biên một chút để không che sách */
.carousel-control-prev {
    left: -40px;
}

.carousel-control-next {
    right: -40px;
}

/* Hiệu ứng hover cho card */
.hover-shadow:hover { 
    transform: translateY(-5px); 
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important; 
    transition: all 0.3s ease; 
}
.hover-card { 
    transition: all 0.3s ease; 
}
.hover-card:hover { 
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important; 
}